.colorRed {
  background-color: red;
}
.colorRed a {
  color: white;
}

.colorBlue {
  background-color: blue;
}
.colorBlue a {
  color: white;
}

.colorYellow {
  background-color: yellow;
}

.colorWhite {
  background-color: white;
}
