.inventory__home {
  padding: 0 16em;
  height: 90vh;
}

.inventoryHome__searchBox {
  position: relative;
  margin: auto;
  width: 500px;
}

.inventoryHome__search {
  height: 35px;
  width: 100%;
  padding: 5px;
}

.inventoryHome__icon {
  position: absolute;
  top: 4px;
  right: 8px;
}

.inventoryHome__items {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.inventoryHome__left {
  margin: auto;
  width: 450px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}

.item-name {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 600;
}

.item-desc {
  font-size: 1.2em;
}

.item-price {
  padding: 0.5em 0;
  margin-bottom: 1em;
}

.inventoryHome__buy {
  height: 40px;
  width: 100px;
  margin-left: 10px;
  font-size: 1.5em;
  background-color: yellow;
  border-radius: 5px;
}

.inventoryHome__right {
  margin: auto;
  flex: 1;
  padding: 8em;
}

.inventoryHome__item {
  position: relative;
}

.inventoryHome__item:hover {
  background-color: var(--whiteOrange);
  cursor: pointer;
}

.inventoryHomeItem__container {
  display: inline-block;
  margin: 5px;
}

.inventoryHomeItem__img {
  height: 35px;
  object-fit: cover;
}

.hover__image:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.blur__image {
  filter: brightness(50%);
}

.inventoryHomeItem__btn {
  height: 35px;
  width: 90%;
  position: absolute;
  top: 345px;
  right: 12px;
}
