.inventory__body {
  margin-top: 50px;
  text-align: center;
}

.inverntory__title {
  font-size: 24px;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--titleColor);
  padding-top: 80px;
}
.subtitle {
  font-size: 18px;
  padding-bottom: 20px;
}

.inventory__item {
  padding: 10px 0;
  padding-bottom: 15px;
  width: 350px;
  margin: 0 auto;
}

.inventory__nav {
  background: var(--navColor);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.inventoryNav__admin {
  display: flex;
  flex: 1 1;
  flex-direction: row-reverse;
}

nav ul li a {
  color: var(--whiteOrange);
  text-decoration: none;
}

.inventory__nav ul p {
  margin-right: 30px;
}

.inventory__nav ul p:last-child {
  margin-right: 0;
}

.inventory__nav ul p:hover {
  cursor: pointer;
}

.nav__active {
  border-bottom: 2px solid red;
  padding-bottom: 3px;
  color: var(--titleColor);
}

nav ul {
  display: flex;
  flex-direction: row;
  padding: 0 8em;
  color: var(--whiteOrange);
}

nav ul li {
  margin-right: 30px;
}

nav ul li img {
  margin-top: 5px;
  height: 15px;
  filter: invert(98%) sepia(4%) saturate(2110%) hue-rotate(341deg)
    brightness(96%) contrast(93%);
}

nav ul li img:hover {
  cursor: pointer;
}

.inventory {
  text-align: center;
}

.inventory__input {
  flex: 1;
  height: 35px;
  padding: 10px;
  margin-bottom: 20px;
}

.inventory__btn button {
  padding: 10px;
  margin-right: 10px;
  border-radius: 12px;
}

.inventory__items {
  text-align: center;
}

.inventory__items ul {
  display: flex;
}

.inventoryTitle__sub {
  font-weight: 500;
}

.inventory__form {
  width: 500px;
  margin: auto;
  padding-top: 10px;
}

.inventoryForm__form {
  border: 1px solid black;
  padding: 10px;
}

.inventoryForm__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: auto;
}

.inventoryForm__btn {
  width: 350px;
  height: 35px;
  margin-top: 20px;
}

.inventoryForm__input {
  display: flex;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.inventoryForm__input label {
  margin-right: 5px;
}
.inventoryForm__input input {
  width: 350px;
  padding: 5px;
}
.inventoryForm__btn {
  height: 35px;
  padding: 5px;
  width: 100%;
}

.inventory__summary {
  padding: 10px;
  width: 500px;
  margin: 0 auto;
}

.inventory__card img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}
.inventory__card p {
  font-size: 16px;
}

.login {
  border: 1px solid black;
  width: 500px;
  margin: auto;
  padding: 10px;
  margin-top: 50px;
}

.inventoryLogin__input {
  display: flex;
  height: 35px;
  margin: auto;
  margin-bottom: 10px;
  justify-content: space-between;
}

.inventoryLogin__input input {
  width: 350px;
  padding: 5px;
}

.inventoryLogin__btn {
  margin-top: 20px;
  height: 35px;
  width: 100%;
}

.inventory__changeCount {
  margin-top: 30px;
}

.inventorySummary__form {
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.inventorySummary__btn {
  width: 100px;
  display: flex;
  justify-content: space-between;
  display: inline-flex;
}

.inventorySummary__btn p {
  margin-right: 5px;
}

.inventorySummaryBtn__icon {
  height: 15px;
}

.inventorySummaryBtn__icon:hover {
  cursor: pointer;
}
.inventorySummary__submit {
  display: block;
  height: 35px;
  width: 100%;
}

.addCart__btn {
  margin-top: 20px;
  height: 35px;
  width: 100%;
}

.inventoryUser__list {
  width: 500px;
  margin: auto;
  border: 1px solid black;
  padding: 10px;
}

.inventory__user,
.inventory__checkout {
  padding-top: 10px;
}

.inventoryHome__items {
  display: flex;
  padding: 0 8em;
  flex-wrap: wrap;
}

.inventoryHome__item {
  width: 250px;
  border: 1px solid black;
  padding: 10px;
  position: relative;
  margin: 10px;
  height: 395px;
}

.inventoryHomeItem__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border: 1px solid black;
}

.inventoryHomeItem__btn {
  height: 35px;
  width: 90%;
  position: absolute;
  top: 345px;
  right: 12px;
}

.inventorySign__btn {
  text-align: center;
  color: var(--titleColor);
  cursor: pointer;
  width: 200px;
  margin: 10px auto;
}
