.inventory__home {
  padding: 0 16em;
  height: 90vh;
  position: relative;
}

.inventoryHome__searchBox {
  position: relative;
    margin: auto;
    width: 500px;
    top: -76px;
    left: -11px;
}

.inventoryHome__search {
  height: 35px;
  width: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.inventoryHome__icon {
  position: absolute;
  top: 4px;
  right: 8px;
}

.inventoryHome__items {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-image: url(lichking-img.png);
  background-repeat: no-repeat;
}

.inventoryHome__left {
  padding-top: 223px;
  margin-right: 20px;
}

.inventoryHomeLeft__details {
  background-color: rgb(23,22,18, 0.7);
  color: white;
  margin: auto;
  width: 450px;
  padding: 20px;
  border-radius: 5px;
}

.item-name {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 600;
}

.item-desc {
  font-size: 1.2em;
}

.item-price {
  padding: 0.5em 0;
  margin-bottom: 1em;
}

.inventoryHome__buy {
  height: 40px;
  width: 400px;
  margin-left: 10px;
  font-size: 1.5em;
  background-color: #f6ff00;
  border-radius: 5px;
}

.inventoryHome__buy:hover {
  cursor: pointer;
  background-color: #c7cf00;
}

.inventoryHome__right {
  background: rgb(23,22,18, 0.7);
  margin: auto;
  flex: 1 1;
  padding: 8em;
  border-radius: 5px;
}

.inventoryHome__item {
  position: relative;
}

.inventoryHome__item:hover {
  background-color: var(--whiteOrange);
  cursor: pointer;
}

.inventoryHomeItem__container {
  display: inline-block;
  margin: 5px;
}

.inventoryHomeItem__img {
  height: 35px;
  object-fit: cover;
}

.hover__image:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.blur__image {
  filter: brightness(50%);
}

.inventoryHomeItem__btn {
  height: 35px;
  width: 90%;
  position: absolute;
  top: 345px;
  right: 12px;
}
