.login {
  padding: 0px 16em;
  height: 95vh;
  background: rgb(14,21,48);
  background: linear-gradient(90deg, rgba(14,21,48,1) 0%, rgba(2,74,133,1) 38%, rgba(14,21,48,1) 100%);
}

.inventoryLogin__container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.inventoryLogin__left {
  height: 100%;
  width: 900px;
  margin: auto;
}

.inventoryLogin__container form {
  flex: 1;
  padding-left: 80px;
  max-width: 800px;
  margin: auto 0;
}

.inventoryLogin__logo {
  width: 150px;
  filter: invert(49%) sepia(11%) saturate(5519%) hue-rotate(180deg) brightness(94%) contrast(149%)
}

.inventoryLoginContainer__logo {
  position: relative;;
  padding-bottom: 50px;
}

.login__title {
  position: absolute;
  top: 131px;
  left: 72px;
  font-family: myDrakon;
  font-size: 3em;
  font-weight: 600;
  color: #008DFF;
}

.inventoryLogin__input {
  display: flex;
  height: 35px;
  margin: 45px 0;
  justify-content: space-between;
  position: relative;
}

.login__label {
  position: absolute;
  top: -26px;
  left: 0px;
}

.login__icon {
  width: 18px;
  position: absolute;
  top: 15px;
  left: 11px;
}

.inventoryLogin__input input {
  width: 100%;
  padding: 5px;
  height: 50px;
  font-size: 18px;
  padding-left: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.login__checkbox {
  display: flex;
  align-items: center;
  color: white;
}

.login__checkbox input {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.inventoryLogin__btn {
  text-transform: uppercase;
  margin-top: 80px;
  height: 60px;
  width: 100%;
  font-size: 18px;
  background-color: #008DFF;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.inventoryLogin__btn:hover {
  background-color: #3E85B8;
}

.inventorySign__btn {
  text-transform: uppercase;
  margin-top: 10px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  border-radius: 2px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.inventorySign__btn:hover {
  text-transform: uppercase;
  margin-top: 10px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  background-color: rgb(30,35,38, .7);
  border-radius: 2px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.inventoryForgot__container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: white;
}

.language__select {
  padding: 5px;
  padding-right: 30px;
}

.loginArrow__icon {
  position: absolute;
  top: 15px;
  lefT: 375px;
  cursor: pointer;
}

.invetoryLogin__error {
  display: flex;
  align-items: center;
}

.invetoryLogin__error img {
  width: 15px;
  margin-right: 10px;
  filter: invert(59%) sepia(100%) saturate(7492%) hue-rotate(337deg) brightness(103%) contrast(106%);
}

.errorMsg {
  color: red;
  font-size: 16px;
  font-weight: 400;
  text-align: initial;
}

.inventorySignup__back {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  left: 0px;
  cursor: pointer;
  color: white;
}

.inventorySignup__back img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(35deg) brightness(105%) contrast(101%);
}

.inventorySignup__back p {
  font-size: 18px;
}

.inventorySignUp__title {
  font-size: 3em;
  color: #008DFF;
  font-weight: 400;
}