* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.appTask {
  display: flex;
  border: 1px solid red;
}

.task {
  padding: 10px;
  width: 200px;
}

.user__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__form input {
  height: 30px;
  max-width: 350px;
  width: 100%;
  margin-bottom: 10px;
}

p span {
  font-weight: 600;
  text-transform: uppercase;
}

.btn__show {
  background: white;
  color: green;
  border: 1px solid green;
}

.btn__hide {
  background: red;
  color: white;
  border: 1px solid red;
}
